@keyframes blob-1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-316%);
  }
}
@keyframes blob-2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-393%);
  }
}
@keyframes blob-3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-295%);
  }
}
@keyframes blob-4 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-406%);
  }
}
@keyframes blob-5 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-284%);
  }
}
@keyframes blob-6 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-315%);
  }
}
@keyframes blob-7 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-244%);
  }
}
@keyframes blob-8 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-445%);
  }
}
@keyframes blob-9 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-310%);
  }
}
@keyframes blob-10 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-494%);
  }
}
@keyframes blob-11 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-199%);
  }
}
@keyframes blob-12 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-165%);
  }
}
@keyframes blob-13 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-113%);
  }
}
@keyframes blob-14 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-423%);
  }
}
@keyframes blob-15 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-152%);
  }
}
@keyframes changeColor {
  0% {
    background: #f6aa1c;
  }
  33% {
    background: #bc3908;
  }
  66% {
    background: #941b0c;
  }
  100% {
    background: #f6aa1c;
  }
}
@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
  }
  100% {
    border-radius: 38% 52% 75% 36%/50% 40% 50% 60%;
  }
}
html {
  background: radial-gradient(ellipse at bottom, #621708, #220901);
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.lamp {
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: -1;
}

.lava {
  height: 100%;
  filter: url("#goo");
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.blob {
  border-radius: 50%;
  background: #f6aa1c;
  position: absolute;
}

.blob:nth-child(1) {
  animation: wobble 2s ease-in-out alternate infinite, blob-1 ease-in-out 27s infinite, changeColor 25s infinite;
  bottom: -154px;
  height: 80px;
  left: 86px;
  width: 80px;
}

.blob:nth-child(2) {
  animation: wobble 3s ease-in-out alternate infinite, blob-2 ease-in-out 38s infinite, changeColor 25s infinite;
  bottom: -123px;
  height: 136px;
  left: 196px;
  width: 136px;
}

.blob:nth-child(3) {
  animation: wobble 5s ease-in-out alternate infinite, blob-3 ease-in-out 31s infinite, changeColor 25s infinite;
  bottom: -85px;
  height: 295px;
  left: 306px;
  width: 295px;
}

.blob:nth-child(4) {
  animation: wobble 1s ease-in-out alternate infinite, blob-4 ease-in-out 36s infinite, changeColor 25s infinite;
  bottom: -75px;
  height: 200px;
  left: 416px;
  width: 200px;
}

.blob:nth-child(5) {
  animation: wobble 4s ease-in-out alternate infinite, blob-5 ease-in-out 44s infinite, changeColor 25s infinite;
  bottom: -67px;
  height: 159px;
  left: 526px;
  width: 159px;
}

.blob:nth-child(6) {
  animation: wobble 4s ease-in-out alternate infinite, blob-6 ease-in-out 41s infinite, changeColor 25s infinite;
  bottom: -103px;
  height: 318px;
  left: 636px;
  width: 318px;
}

.blob:nth-child(7) {
  animation: wobble 1s ease-in-out alternate infinite, blob-7 ease-in-out 26s infinite, changeColor 25s infinite;
  bottom: -66px;
  height: 131px;
  left: 746px;
  width: 131px;
}

.blob:nth-child(8) {
  animation: wobble 4s ease-in-out alternate infinite, blob-8 ease-in-out 26s infinite, changeColor 25s infinite;
  bottom: -107px;
  height: 362px;
  left: 856px;
  width: 362px;
}

.blob:nth-child(9) {
  animation: wobble 4s ease-in-out alternate infinite, blob-9 ease-in-out 35s infinite, changeColor 25s infinite;
  bottom: -172px;
  height: 103px;
  left: 966px;
  width: 103px;
}

.blob:nth-child(10) {
  animation: wobble 3s ease-in-out alternate infinite, blob-10 ease-in-out 33s infinite, changeColor 25s infinite;
  bottom: -124px;
  height: 205px;
  left: 1076px;
  width: 205px;
}

.blob:nth-child(11) {
  animation: wobble 5s ease-in-out alternate infinite, blob-11 ease-in-out 38s infinite, changeColor 25s infinite;
  bottom: -66px;
  height: 122px;
  left: 1186px;
  width: 122px;
}

.blob:nth-child(12) {
  animation: wobble 4s ease-in-out alternate infinite, blob-12 ease-in-out 41s infinite, changeColor 25s infinite;
  bottom: -138px;
  height: 291px;
  left: 1296px;
  width: 291px;
}

.blob:nth-child(13) {
  animation: wobble 2s ease-in-out alternate infinite, blob-13 ease-in-out 40s infinite, changeColor 25s infinite;
  bottom: -124px;
  height: 334px;
  left: 1406px;
  width: 334px;
}

.blob:nth-child(14) {
  animation: wobble 1s ease-in-out alternate infinite, blob-14 ease-in-out 27s infinite, changeColor 25s infinite;
  bottom: -111px;
  height: 102px;
  left: 1516px;
  width: 102px;
}

.blob:nth-child(15) {
  animation: wobble 2s ease-in-out alternate infinite, blob-15 ease-in-out 34s infinite, changeColor 25s infinite;
  bottom: -194px;
  height: 72px;
  left: 1626px;
  width: 72px;
}

/*# sourceMappingURL=lava-lamp.css.map */
